<h1>To login in this application, please click in the link forward and login in Twitter</h1>
<br /><br />
<div style="text-align: center">
  <%= link_to "Login using Twitter", :controller => "user_sessions", :action => "new" %>
</div>
