<h3>Users</h3>
<table>
	<% @users.each do |u| %>
		<tr>
			<td><%= link_to image_tag(u.profile_image_url, :alt => u.username), :action => :show, :id => u %></td>
			<td><%= link_to u.username,  :action => :show, :id => u %><br/><%=h u.full_name %></td>
		</tr>
	<% end %>
	