<br /><br />
<ul id="books">
  <% @books.each do |book| %>
    <li><%= link_to image_tag(book.thumb_image_path, :border => 0, :title => book.title, :alt => book.title), book %></li>
  <% end %>
  <%= will_paginate @books %>
</ul>

