<div id="sidebar">
  <h2>How do I insert a new book to my library?</h2>
  <p>To insert a new book in your personal library, please, folow these steps:</p>
  <ul>
    <li>Fill the left form with the correct data.</li>
    <li>Select a PDF file that have less then 7MB.</li>
    <li>Click in "save" button.</li>
  </ul>
  <h2>And now?</h2>
  <p>That's it! Now you can list all your books and find by title, proprieties or content. We think you will like.</p>
</div>

<h1>New book</h1>
<%= render 'form' %>
